
body {
  background: #f0f2f5;  
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.studentForm {
  background: #fff;
  max-width: 500px;
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #008fd5;
}

.studentForm h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333; /* Màu chữ */
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"],
button
{
  width: calc(100% - 20px);
  height: 20px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group input[type="file"]:hover {
  background-color: #ccc;
}

button {
  background-color: #008fd5;
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

button:hover {
  background-color: #0866ff;
}

.error {
  color: rgb(204, 21, 21);
}
.back-link {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #070707; /* Màu chữ */
  padding: 10px; /* Tăng độ dày để tạo không gian xung quanh biểu tượng */
}

.back-link svg {
  width: 24px; /* Đặt kích thước chiều rộng */
  height: 24px; /* Đặt kích thước chiều cao */
  margin-right: 5px; /* Khoảng cách giữa biểu tượng và chữ */
}

.back-link:hover {
  color: #008fd5; /* Màu chữ khi hover */
}
